.JobCard {
    display: flex;
    flex-direction: column;
}

.JobCard div {
    color: rgb(58, 44, 44);
    background-color: rgb(203, 209, 212);
    align-self: center;
    width: 70vw;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 3px 1px 5px;
}

.JobList {
    text-align: center;
}