.AuthxForm {
    background-color: rgb(180, 168, 193);
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 100px auto;
    padding: 20px;
}

.AuthxForm label {
    padding: 10px;
    font-weight: bold;
}

.AuthxForm button {
    margin: 6px auto;
    font-weight: bold;
}

.AuthxForm input {
    border-radius: 10px;

    text-align: center;
}